/* .card-item {
  display: flex;
}

.card-img img {
  width: 100px;
  height: 100px;
}

.active {
  display: none;
}


.todo-item {
  display: flex;
  justify-content: space-around;
} */

.parent {
  width: 100px;
  height: 100px;
  background-color: red;
}

.child {
  width: 50px;
  height: 50px;
  background-color: white;
}